{% extends 'base.html' %}

{% block title %}| Add New Post{% endblock %}

{% block content %}
<div class="rounded bg-white shadow-xl m-5 m-5 sm:m-0 w-full sm:w-2/3">
  <h1 class="text-purple-800 text-2xl my-2 mx-6">Add new post</h1>
  <hr>
  <form method="post" class="mt-3 mb-8 mx-6">
    <div class="mb-4 flex flex-col">
      <label for="title" class="mb-2 text-gray-900">Title</label>
      <input name="title" id="title" required class="rounded border focus:outline-none focus:border-indigo-500 px-2 py-2" placeholder="Title..." value="{{ request.form['title'] }}">
    </div>
    <div class="mb-6 flex flex-col">
      <label for="body" class="mb-2 text-gray-900">Body</label>
      <textarea name="body" id="body" required class="rounded border focus:outline-none focus:border-indigo-500 px-2 py-2" placeholder="Body..." rows="5">{{ request.form['body'] }}</textarea>
    </div>
    <div>
      <input type="submit" value="Save post" class="py-2 px-4 bg-indigo-500 text-white text-bold rounded cursor-pointer hover:bg-indigo-900 transition ease-in-out duration-100">
    </div>
  </form>
</div>
{% endblock %}