{% extends 'base.html' %}

{% block title %}| Posts{% endblock %}

{% block content %}
  {% for post in posts %}
    <article class="rounded shadow-md mb-6 py-4 px-6">
      <header class="flex justify-between mb-3 items-start">
        <div>
          <h1 class="capitalize text-indigo-800 font-semibold tracking-wide text-lg">
            {{ post['title'] }}
          </h1>
          <div class="text-gray-500 text-sm italic">
            By <strong>{{ post['username'] }}</strong> on {{ post['created'].strftime('%Y-%m-%d') }}
          </div>
        </div>
        {% if g.user['id'] == post['author_id'] %}
          <a class="bg-transparent rounded text-gray-700 border border-purple-400 px-2 hover:bg-purple-500 hover:text-white transition ease duration-100 text-sm" href="{{ url_for('blog.update', id=post['id']) }}">
            Edit
          </a>
        {% endif %}
      </header>
      <p class="text-gray-900">{{ post['body'] }}</p>
    </article>
  {% endfor %}
{% endblock %}