{% extends 'base.html' %}

{% block title %}| Edit {{ post['title'] }}{% endblock %}

{% block content %}
<div class="rounded bg-white shadow-xl m-5 w-full m-5 sm:m-0 sm:w-2/3">
  <h1 class="text-purple-800 text-2xl my-2 mx-6">
    Edit post:
    <span class="font-semibold tracking-wide">
      {{ post['title'] }}
    </span> 
  </h1>
  <hr>
  <form method="post" class="mt-3 mb-8 mx-6" action="{{ url_for('blog.update', id=post['id']) }}">
    <div class="mb-4 flex flex-col">
      <label for="title" class="mb-2 text-gray-900">Title</label>
      <input name="title" id="title" required class="rounded border focus:outline-none focus:border-indigo-500 px-2 py-2" placeholder="Title..." value="{{ request.form['title'] or post['title'] }}">
    </div>
    <div class="mb-6 flex flex-col">
      <label for="body" class="mb-2 text-gray-900">Body</label>
      <textarea name="body" id="body" required class="rounded border focus:outline-none focus:border-indigo-500 px-2 py-2" placeholder="Body..." rows="5">{{ request.form['body'] or post['body'] }}</textarea>
    </div>
    <div class="flex justify-between">
      <input type="submit" value="Save post" class="py-2 px-4 bg-indigo-500 text-white text-bold rounded cursor-pointer hover:bg-indigo-900 transition ease-in-out duration-100">
  </form>
      <form action="{{ url_for('blog.delete', id=post['id']) }}" method="post">
        <button type="submit" class="py-2 px-4 bg-red-500 text-white text-bold rounded cursor-pointer hover:bg-red-900 transition ease-in-out duration-100">
          Delete
        </button>
      </form>
    </div>
</div>
{% endblock %}


