{% extends 'base.html' %}

{% block title %}| Sign up{% endblock %}

{% block page_header %}
  
{% endblock %}

{% block content %}
  <div class="rounded bg-white shadow-lg m-5 w-full m-5 sm:m-0 sm:w-1/2">
    <h1 class="text-purple-800 text-2xl my-2 mx-6">Sing up with us</h1>
    <hr>
    <form method="post" class="mt-3 mb-8 mx-6">
      <div class="mb-4 flex flex-col">
        <label for="username" class="mb-2 text-gray-900">Username</label>
        <input name="username" id="username" required class="rounded border focus:outline-none focus:border-indigo-500 px-2 py-2">
      </div>
      <div class="mb-6 flex flex-col">
        <label for="password" class="mb-2 text-gray-900">Password</label>
        <input type="password" name="password" id="password" required class="rounded border focus:outline-none focus:border-indigo-500 px-2 py-2">
      </div>
      <div>
        <input type="submit" value="Sign up" class="py-2 px-4 bg-indigo-500 text-white text-bold rounded cursor-pointer hover:bg-indigo-900 transition ease-in-out duration-100">
      </div>
    </form>
  </div>
{% endblock %}