<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Flaskr {% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <header>
    <nav class="w-full flex justify-between py-3 px-8 bg-purple-500 bg-opacity-75 shadow-sm">
      <a class="text-white tracking-wider uppercase font-normal text-lg" href="{{ url_for('index') }}">Flaskr</a>
      <ul class="flex text-white">
        {% if g.user %}
          <li class="mr-6">
            Welcome, 
            <span class="capitalize">
              {{ g.user['username'] }}
            </span>
          </li>
          <li class="mr-6 hover:text-gray-200">
            <a href="{{ url_for('blog.create') }}">New Post</a>
          </li>
          <li class="hover:text-gray-200">
            <a href="{{ url_for('auth.logout') }}">
              Logout
            </a>
          </li>
        {% else %}
          <li class="mr-6 hover:text-gray-200">
            <a href="{{ url_for('auth.register') }}">
              Sign up
            </a>
          </li>
          <li class="hover:text-gray-200">
            <a href="{{ url_for('auth.login') }}">
              Sign in
            </a>
          </li>
        {% endif %}
      </ul>
    </nav>
  </header>

  <div class="w-full h-screen flex items-center flex-col {% if page == 'home' %}justify-start{% else %}justify-center{% endif %}">
    <main class="w-2/3 h-screen flex flex-col items-center {% if page == 'home' %}justify-start mt-8{% else %}justify-center{% endif %}">
      {% for message in get_flashed_messages() %}
        <div class="w-full sm:w-1/2 py-6 bg-indigo-500 bg-opacity-25 rounded text-gray-700 mb-6 px-6">
          {{ message }}
        </div>
      {% endfor %}

      {% block content %}
      {% endblock %}
    </main>
  </div>  
</body>
</html>